<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signin.css">
    <title>Авторизация</title>
</head>
<body>
    <div class="container">
        <h1>Авторизация</h1>
        <div id="error-message" class="error"></div> 
        <input type="text" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Пароль">
        <button id="login-button">Войти</button>
    </div>

    <script src=../script/signin.js></script>
</body>
</html>
