<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signup.css">
    <title>Регистрация</title>
</head>
<body>
    <div class="container">
        <h1>Авторизация</h1>
        <div id="error-message" class="error"></div> 
        <input type="text" id="email" placeholder="Почта">
        <input type="password" id="password" placeholder="Пароль">
        <input type="text" id="login" placeholder="Логин">
        <button id="login-button">Зарегистрироваться</button>
        <div class="href-class">
            <a href="http://localhost:8000/auth/sign-in">Войти в аккаунт</a>
        </div>
    </div>

    <script src=../script/signup.js></script>

</body>
</html>
